In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv( 'Mountains.csv', delimiter = ',' )
data.head(5)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [4]:
Parent_mountain_count =  data['Parent mountain'].value_counts()[ lambda x : x > 3 ]

In [5]:
Parent_mountain_count = Parent_mountain_count.to_frame( )
Parent_mountain_count.reset_index(inplace=True)
Parent_mountain_count.rename( columns = { 'Parent mountain': 'Parent_count' }, inplace = True )
Parent_mountain_count.rename( columns = { 'index': 'Parent mountain' }, inplace = True )
Parent_mountain_count

  Parent mountain  Parent_count
0   Mount Everest             9
1    Gasherbrum I             8
2         Cho Oyu             7
3   Kangchenjunga             7
4              K2             5
5   Distaghil Sar             5
6      Dhaulagiri             4
7   Shisha Pangma             4

In [6]:
data = data.merge( Parent_mountain_count, how = 'left', left_on = 'Parent mountain', right_on = 'Parent mountain' )

In [10]:
data = data[data.Parent_count > 3].copy()

In [11]:
data.to_csv( 'Mountains_couns.csv', sep = ';', na_rep = '0', index = True )