In [1]:
import math

In [2]:
 def dist(row):
    llat1 = row['pickup_latitude']
    llong1 = row['pickup_longitude']
    llat2 = row['pickup_latitude']
    llong2 = row['dropoff_longitude']  

    #(llat1,llong1,llat2,llong2):
    #pi - число pi, rad - радиус сферы (Земли)
    rad = 6372795
 
    #координаты двух точек
    #llat1 = 77.1539
    #llong1 = -120.398
 
    #llat2 = 77.1804
    #llong2 = 129.55
 
    #в радианах
    lat1 = llat1*math.pi/180.
    lat2 = llat2*math.pi/180.
    long1 = llong1*math.pi/180.
    long2 = llong2*math.pi/180.
 
    #косинусы и синусы широт и разницы долгот
    cl1 = math.cos(lat1)
    cl2 = math.cos(lat2)
    sl1 = math.sin(lat1)
    sl2 = math.sin(lat2)
    delta = long2 - long1
    cdelta = math.cos(delta)
    sdelta = math.sin(delta)
 
    #вычисления длины большого круга
    y = math.sqrt(math.pow(cl2*sdelta,2)+math.pow(cl1*sl2-sl1*cl2*cdelta,2))
    x = sl1*sl2+cl1*cl2*cdelta
    ad = math.atan2(y,x)
    dist = ad*rad
 
    #вычисление начального азимута
    x = (cl1*sl2) - (sl1*cl2*cdelta)
    y = sdelta*cl2
    z = math.degrees(math.atan(-y/x))
 
    if (x < 0):
        z = z+180.
 
    z2 = (z+180.) % 360. - 180.
    z2 = - math.radians(z2)
    anglerad2 = z2 - ((2*math.pi)*math.floor((z2/(2*math.pi))) )
    angledeg = (anglerad2*180.)/math.pi
 
    #print 'Distance >> %.0f' % dist, ' [meters]'
    #print 'Initial bearing >> ', angledeg, '[degrees]'
    return dist

In [3]:
#! dir

In [4]:
%%time
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# будем отображать графики прямо в jupyter'e
%pylab inline
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 
%matplotlib inline
#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 8,5
import pandas as pd
import numpy as np
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib
Wall time: 21.1 s

In [5]:
path1 = r'C:\Users\DenAS\Downloads\11AA\Source\1.3\IMDB' + '//'

In [6]:
FName11 = 'tmdb_5000_credits.csv'

In [7]:
FName12 = 'tmdb_5000_movies.csv'

In [8]:
full_patch1 = path1 + FName12

In [9]:
path2 = r'C:\Users\DenAS\Downloads\11AA\Source\1.3\NBA' + '//'

In [10]:
FName21 = 'Players.csv'

In [11]:
FName22 = 'Seasons_Stats.csv'

In [12]:
full_patch2 = path2 + FName22

In [13]:
path3 = r'C:\Users\DenAS\Downloads\11AA\Source\1.3\NYC' + '//'

In [14]:
FName3 = 'train.csv'

In [15]:
full_patch3 = path3 + FName3

In [16]:
%%time
df = pd.read_csv(full_patch3) #, dtype={'pickup_datetime': float64,'dropoff_datetime': float64})
print(df.shape)

(1458644, 11)
Wall time: 15 s

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [18]:
# df.head()

In [19]:
#df.trip_duration.value_counts()

In [20]:
%%time
df['pickup_datetime'] = pd.to_datetime(df.pickup_datetime)
df['dropoff_datetime'] = pd.to_datetime(df.dropoff_datetime)

#datetime.datetime.strptime(df.pickup_datetime,  '%Y-%m-%d %H:%M:%S') #'g'#df.dropoff_datetime - df.pickup_datetime

Wall time: 3.87 s

In [21]:
%%time
df['trip_time'] = df.dropoff_datetime - df.pickup_datetime

Wall time: 331 ms

In [22]:
%%time
df['trip_time_sec'] = df["trip_time"].apply(lambda x: x.seconds) # df.trip_time.seconds

Wall time: 1min 18s

In [23]:
%%time
df['pickup_long_rad'] = df['pickup_longitude'].apply(lambda x: x*math.pi/180)
df['pickup_lat_rad'] = df['pickup_latitude'].apply(lambda x: x*math.pi/180)
df['dropoff_long_rad'] = df['dropoff_longitude'].apply(lambda x: x*math.pi/180)
df['dropoff_lat_rad'] = df['dropoff_latitude'].apply(lambda x: x*math.pi/180)
#df[''] =ABS(K5-K4)*ABS(COS(МИН(ABS(J4);ABS(J5))))

Wall time: 8.22 s

In [29]:
def gg(row):
    return row['pickup_longitude']*2

In [30]:
%%time
df['dist'] = df.apply( gg, axis = 1 )

Wall time: 8min 3s

In [31]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_time,trip_time_sec,pickup_long_rad,pickup_lat_rad,dropoff_long_rad,dropoff_lat_rad,dist
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,00:07:35,455,-1.291232,0.711535,-1.290926,0.711494,-147.964310
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,00:11:03,663,-1.291202,0.711022,-1.291535,0.710893,-147.960831
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,00:35:24,2124,-1.291178,0.711465,-1.291637,0.710525,-147.958054
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,00:07:09,429,-1.291719,0.710698,-1.291758,0.710466,-148.020081
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,00:07:15,435,-1.291073,0.711976,-1.291071,0.711789,-147.946106

In [71]:
#df.trip_time_sec.hist()

In [70]:
%%time
#%config InlineBackend.figure_format = 'png' 
#sns_plot = sns.pairplot(
#    df[['pickup_longitude', 'pickup_latitude', 'trip_time_sec']]);
#sns_plot.savefig('pairplot.png')

Wall time: 0 ns