In [1]:
%%time
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# будем отображать графики прямо в jupyter'e
%pylab inline
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 
%matplotlib inline
#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 8,5
import pandas as pd
import numpy as np
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib
Wall time: 7.16 s

In [2]:
path3 = r'C:\Users\Safonov\Downloads\11AA\Source\1.3\NYC' + '//'
FName3 = 'train.csv'
full_patch3 = path3 + FName3
full_patch3

'C:\\Users\\Safonov\\Downloads\\11AA\\Source\\1.3\\NYC//train.csv'

In [3]:
%%time
df = pd.read_csv(full_patch3) #, dtype={'pickup_datetime': float64,'dropoff_datetime': float64})
print(df.shape)

(1458644, 11)
Wall time: 5.43 s

In [4]:
%%time
df['pickup_datetime'] = pd.to_datetime(df.pickup_datetime)
df['dropoff_datetime'] = pd.to_datetime(df.dropoff_datetime)
df['trip_time'] = df.dropoff_datetime - df.pickup_datetime

Wall time: 1.37 s

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 12 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null datetime64[ns]
dropoff_datetime      1458644 non-null datetime64[ns]
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
trip_time             1458644 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(2), timedelta64[ns](1)
memory usage: 133.5+ MB

In [6]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_time
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,00:07:35
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,00:11:03
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,00:35:24
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,00:07:09
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,00:07:15
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443,00:07:23
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341,00:05:41
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,00:25:51
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255,00:04:15
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,00:20:25
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274,00:21:14
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128,00:18:48
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114,00:18:34
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260,00:04:20
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414,00:23:34
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211,00:03:31
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316,00:38:36
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731,00:12:11
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317,00:21:57
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251,00:04:11
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486,00:08:06
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652,00:10:52
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423,00:07:03
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163,00:19:23
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485,00:41:25
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283,00:21:23
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130,00:18:50
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694,00:11:34
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892,00:14:52
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331,00:38:51
...,...,...,...,...,...,...,...,...,...,...,...,...
1458614,id2061444,2,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.980927,40.767651,-73.965302,40.765251,N,338,00:05:38
1458615,id3182230,1,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.991013,40.728321,-73.966766,40.711548,N,857,00:14:17
1458616,id2822294,1,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.988327,40.732147,-73.999641,40.734192,N,488,00:08:08
1458617,id0820021,2,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.975433,40.752411,-73.973122,40.746780,N,208,00:03:28
1458618,id1046767,2,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.987564,40.733387,-74.001129,40.731056,N,367,00:06:07
1458619,id1083860,2,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.954773,40.777882,-73.980904,40.782516,N,708,00:11:48
1458620,id0694577,2,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.966324,40.758072,-74.006516,40.736641,N,1162,00:19:22
1458621,id3267199,2,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.959534,40.782749,-73.990959,40.751091,N,2355,00:39:15
1458622,id0125435,2,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.008408,40.721142,-74.000557,40.723911,N,552,00:09:12
1458623,id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,N,554,00:09:14
1458624,id3482902,1,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.974693,40.756088,-73.969971,40.762115,N,152,00:02:32
1458625,id3730733,2,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.989655,40.740612,-73.961029,40.765366,N,2002,00:33:22
1458626,id0155863,2,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.954071,40.767021,-73.950340,40.778233,N,244,00:04:04
1458627,id0439281,2,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.981651,40.767708,-73.959183,40.777412,N,880,00:14:40
1458628,id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,N,351,00:05:51
1458629,id3109086,2,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.959618,40.808941,-73.947922,40.830189,N,601,00:10:01
1458630,id0287353,2,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.991508,40.727135,-73.988136,40.740932,N,549,00:09:09
1458631,id1724231,1,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.958946,40.763725,-73.953156,40.780003,N,342,00:05:42
1458632,id0469946,2,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.015572,40.710892,-73.996620,40.743633,N,777,00:12:57
1458633,id2432342,1,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.979652,40.735279,-73.995522,40.759754,N,979,00:16:19
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,N,972,00:16:12
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,N,237,00:03:57
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800,00:13:20
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760,00:12:40
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,N,414,00:06:54
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,00:12:58
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,00:10:55
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,00:12:44
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,00:06:13
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,00:03:18

In [7]:
def manh(row):
    lat1 = row['pickup_latitude']
    long1 = row['pickup_longitude']
    lat2 = row['pickup_latitude']
    long2 = row['dropoff_longitude']      
    long = abs(long1 - long2)
    lat = abs(lat1 - lat2)
    longkm = long * 20004274 / 360
    latkm =111321*cos(long1*3.14159/180)*lat
    return longkm + latkm

In [8]:
def t_interval(row):
    return row['pickup_datetime'].hour

In [9]:
#%%time
#df['dist'] = df.apply( manh, axis = 1 )

In [10]:
#%%time
#df['av_speed'] = df['dist'] / df['trip_duration']

In [13]:
#useful_cols = ['pickup_datetime', 'dropoff_datetime', 'passenger_count', 'store_and_fwd_flag', 
#               'trip_duration', 'trip_time'#, 'dist', 'av_speed'
#              ]
#df[useful_cols].sort_values( by = 'trip_time', ascending = False ).head(9)

In [14]:
#df1 = df.describe()

In [15]:
#df.info()

In [16]:
df.vendor_id.value_counts()

2    780302
1    678342
Name: vendor_id, dtype: int64

In [17]:
df.store_and_fwd_flag.value_counts()

N    1450599
Y       8045
Name: store_and_fwd_flag, dtype: int64

In [18]:
#df[df.store_and_fwd_flag == 'Y'].describe()

In [19]:
#df[df.store_and_fwd_flag == 'N'].describe()

In [20]:
%%time
df['Hour'] = df.apply( t_interval, axis = 1 )

Wall time: 2min 27s

In [21]:
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_time,Hour
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,00:07:35,17
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,00:11:03,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,00:35:24,11
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,00:07:09,19
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,00:07:15,13
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443,00:07:23,22
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341,00:05:41,22
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,00:25:51,7
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255,00:04:15,23
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,00:20:25,21
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274,00:21:14,22
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128,00:18:48,11
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114,00:18:34,9
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260,00:04:20,20
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414,00:23:34,0
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211,00:03:31,15
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316,00:38:36,17
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731,00:12:11,8
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317,00:21:57,9
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251,00:04:11,13
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486,00:08:06,2
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652,00:10:52,12
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423,00:07:03,3
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163,00:19:23,10
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485,00:41:25,8
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283,00:21:23,13
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130,00:18:50,21
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694,00:11:34,23
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892,00:14:52,21
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331,00:38:51,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458614,id2061444,2,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.980927,40.767651,-73.965302,40.765251,N,338,00:05:38,17
1458615,id3182230,1,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.991013,40.728321,-73.966766,40.711548,N,857,00:14:17,17
1458616,id2822294,1,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.988327,40.732147,-73.999641,40.734192,N,488,00:08:08,17
1458617,id0820021,2,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.975433,40.752411,-73.973122,40.746780,N,208,00:03:28,8
1458618,id1046767,2,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.987564,40.733387,-74.001129,40.731056,N,367,00:06:07,1
1458619,id1083860,2,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.954773,40.777882,-73.980904,40.782516,N,708,00:11:48,12
1458620,id0694577,2,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.966324,40.758072,-74.006516,40.736641,N,1162,00:19:22,20
1458621,id3267199,2,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.959534,40.782749,-73.990959,40.751091,N,2355,00:39:15,14
1458622,id0125435,2,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.008408,40.721142,-74.000557,40.723911,N,552,00:09:12,18
1458623,id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,N,554,00:09:14,20
1458624,id3482902,1,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.974693,40.756088,-73.969971,40.762115,N,152,00:02:32,7
1458625,id3730733,2,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.989655,40.740612,-73.961029,40.765366,N,2002,00:33:22,17
1458626,id0155863,2,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.954071,40.767021,-73.950340,40.778233,N,244,00:04:04,17
1458627,id0439281,2,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.981651,40.767708,-73.959183,40.777412,N,880,00:14:40,10
1458628,id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,N,351,00:05:51,3
1458629,id3109086,2,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.959618,40.808941,-73.947922,40.830189,N,601,00:10:01,10
1458630,id0287353,2,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.991508,40.727135,-73.988136,40.740932,N,549,00:09:09,3
1458631,id1724231,1,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.958946,40.763725,-73.953156,40.780003,N,342,00:05:42,23
1458632,id0469946,2,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.015572,40.710892,-73.996620,40.743633,N,777,00:12:57,11
1458633,id2432342,1,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.979652,40.735279,-73.995522,40.759754,N,979,00:16:19,19
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,N,972,00:16:12,13
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,N,237,00:03:57,14
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800,00:13:20,10
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760,00:12:40,18
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,N,414,00:06:54,0
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,00:12:58,13
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,00:10:55,7
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,00:12:44,6
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,00:06:13,15
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,00:03:18,14

In [22]:
df.Hour.value_counts()

18    90600
19    90308
21    84185
20    84072
22    80492
17    76483
14    74292
12    71873
15    71811
13    71473
23    69785
11    68476
9     67663
8     67053
10    65437
16    64313
7     55600
0     53248
1     38571
6     33248
2     27972
3     20895
4     15792
5     15002
Name: Hour, dtype: int64

In [25]:
df.groupby( 'passenger_count' ).count()['Hour'].plot()